<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="float-left">
    <a href="https://github.com/ADMARIl" ><i class="fa fa-github"></i></a> 
    <a href="mailto:aings1@umbc.edu" ><i class="fa fa-envelope"></i></a> 
    <a href="https://www.linkedin.com/in/andrew-ingson-194ab2150/" ><i class="fa fa-linkedin"></i></a>
  </div>
<div class="inner">
      <p><a href="https://aingson.xyz/">aingson.xyz</a> is made by <a href="mailto:aings1@umbc.edu">Andrew</a> with <a href="https://getbootstrap.com/">Bootstrap</a>. See it on <a href="https://github.com/ADMARIl/aingson.xyz">github</a>. </p> 
</div>

  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#252e39"
      },
      "button": {
        "background": "#14a7d0"
      }
    }
  })});
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-76848038-4');
  </script>