<!-- TODO: remove this <link href="static/bootstrap.min.css" rel="stylesheet">
<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>> -->
  <!--<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
  <!--<div class="loader-section section-right"></div>-->

</div>
    
    
    <div class="inner">
      <h3 class="masthead-brand flare"><a href="../index.html">A</a></h3>
      <nav class="nav nav-masthead justify-content-center">
          <!-- Should be <a class="nav-link active" href="index.html">Home</a> when its actually working -->
        <a class="nav-link" href="index.html">01. Home</a>
        <a class="nav-link" href="projects.html">02. Projects</a>
        <a class="nav-link" href="status.html">03. Server Status</a>
        <a class="btn btn-default flare button1" href="../docs/AndrewIngsonResume.pdf" role="button">Resume</a>
      </nav>
    </div>