<!-- TODO: remove this <link href="static/bootstrap.min.css" rel="stylesheet">
<div id="loader-wrapper">
  <div id="loader"></div>

  <div class="loader-section section-left"></div>> -->
  <!--<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>-->
  <!--<div class="loader-section section-right"></div>
  
</div> -->
    

    <div class="inner">
      
      <a class="masthead-brand nice justify-content-left" href="../index.html"><img class="mr-sm-1" src="static/logo.png " alt="logo" ></a>
      <nav class="nav nav-masthead navbar-expand-md justify-content-right ">
        <button class="navbar-toggler fixed-left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span><img src="https://img.icons8.com/android/24/000000/menu.png">
        </button>
            
            <div class="collapse navbar-collapse justify-content-right" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="index.html"><div class="nice">01.</div> Home</a></li>
                  <li class="nav-item">
                    <a class="nav-link" href="projects.html"><div class="nice">02.</div> Projects</a></li>
                  <!--<li class="nav-item">
                    <a class="nav-link" href="status.html">03. Server Status</a></li>-->
                  <li class="nav-item">
                    <a class="btn btn-default flare button1" href="docs/AndrewIngsonResume.pdf" role="button">Resume</a></li>
              </ul>
            </div>
      </nav>
    </div>