toginput {
  display: none;
}
tog.div {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  cursor: pointer;
}
.on {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
}
.off {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #282c35;
}

